* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: blue;
  color: yellow;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input, select, option, button {
  display: block;
  margin: 10px 0 20px;
  font-size: 1em;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: yellow;
  background-color: red;
  width: 100%;
}

button {
  color: red;
  background-color: yellow;
  cursor: pointer;
}

button:hover {
  color: yellow;
  background-color: red;
}

.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

