<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h1>View your postal rate</h1>
  <p>Your cost using <%= type %> at <%= weight %>oz.: $<%= cost %></p>

</body>
</html>
